.social-links {
  position: fixed;
  top: 0;
  right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 15px 0;

  button {
    display: block;

    &:hover {
      transform: scale(1.2);
    }
  }

  div {
    margin: 5px 15px;
    cursor: pointer;
  }
}

.share-count {
  text-align: center;
}

@media (max-width: 1000px) {
  .social-links {
    display: none;
  }
}
